import(rClr)
import(methods)
import(DBI)




exportClasses(
  SqlServerDriver,  SqlServerConnection, SqlServerResult,
  SqlServerTransaction)

exportMethods(
# ## dbDriver
 dbGetInfo,dbDriver, dbUnloadDriver, dbListConnections,
# 
# ## DBIConnection
dbConnect, dbDisconnect, dbSendQuery, dbGetQuery, dbGetException,
dbListResults,
# 
# ## DBIConnection: Convenience
dbListTables, dbReadTable, dbWriteTable, dbExistsTable, dbRemoveTable,
dbListFields,make.db.names,
# 
# ## DBIConnection: Transaction management
dbCommit, dbRollback,
# 
# ## DBIConnection: Stored procedures
dbCallProc,
# 
# ## DBIResult
fetch, dbClearResult, 
dbColumnInfo, dbGetStatement, 
dbHasCompleted,
# #dbGetRowsAffected, dbGetRowCount,
# 
# ## DBIResult: Data conversion
dbSetDataMappings,
# 
# ##  DBI extensions
dbGetScalar,dbTransaction,dbBulkCopy)
  

export(SqlServer)
